@font-face {
	font-family: 'TT Lakes-Regular';
	src: url('../fonts/TTLakes-Regular.eot');
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
		 url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/TTLakes-Regular.woff') format('woff'),
		 url('../fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
 }
 
 
 @font-face {
	font-family: 'TT Lakes-Bold';
	src: url('../fonts/TTLakes-Bold.eot');
	src: local('TT Lakes Bold'), local('TTLakes-Bold'),
		 url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/TTLakes-Bold.woff') format('woff'),
		 url('../fonts/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
 }
 
 
 @font-face {
	font-family: 'TT Lakes-Light';
	src: url('../fonts/TTLakes-Light.eot');
	src: local('TT Lakes Light'), local('TTLakes-Light'),
		 url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/TTLakes-Light.woff') format('woff'),
		 url('../fonts/TTLakes-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
 }
 
 @font-face {
	font-family: 'TT Lakes-Medium';
	src: url('../fonts/TTLakes-Medium.eot');
	src: local('TT Lakes Medium'), local('TTLakes-Medium'),
		 url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/TTLakes-Medium.woff') format('woff'),
		 url('../fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
 }




html, body {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header__wrapper {
	height: inherit;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	width: 100%;
	height: 88px;
	border-bottom: 1px solid #D9FFF5;
}

.icon {
	display: inline-block;
	width: 40px;
	height: 40px;
}



.icon--burger {
	background: url('../img/burger.svg') no-repeat;
}

.icon--call {
	background: url('../img/call.svg') no-repeat;
}

.icon--chat {
	background: url('../img/chat.svg') no-repeat;	
}

.icon--profile {
	background: url('../img/profile.svg') no-repeat;
}

.icon--repair {
	background: url('../img/repair.svg') no-repeat;
}

.icon--checkstatus {
	background: url('../img/checkstatus.svg') no-repeat;
}



.header__popup-menu {
	display: none;
	height: 40px;
}
.header__popup-menu a {
	text-decoration: none;
}

.header__menu-burger {
	margin-right: 17px;
	height: 40px;
}

.header__button-burger {
	border: none;
	padding-block: 0;
	padding-inline: 0;
	background-color: #fff;
}

.header__logo {
	margin-left: 0px;
	margin-right: 16px;
}

.header__menu-left {
	display: flex;
	align-items: center;
}

.icon--repair {
	margin-left: 6px;
}
.header__menu-right{
	display: flex;
	height: 40px;
}
.header__helper {
	display: flex;
	column-gap: 16px;
}
.header__helper::before {
	content: "";
	width: 2px;
	height: 32px;
	border-radius: 1px;
	position: relative;
	top: 5px;
	background-color: #EAEAEA
}

/*----------------------header------------------------*/
main {
	background-color: #fff;
}

.main__wrapper {
	padding-top: 24px;
}

.main__helper {
	display: none;
}

.main__tittle-text {
	font-family: "TT Lakes-Bold";
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -0.6px;
	padding-left: 16px;
	display: flex;
}
.main__tittle-text h1 {
	font-size: inherit;
	margin-block-start: 0;
	margin-block-end: 0;
}

.main__tittle-text::before {
	display: block;
	content: "";
	width: 4px;
	background-color: #41F6D7;
	position: relative;
	
	right: 16px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.main__tittle {
	display: flex;
}

.main__services-tabs {
	margin-top: 24px;
	padding: 0px 16px;
	overflow-x: auto;
	display: flex;
}

.services-tabs__items {
	margin-block-start: 0;
	padding-inline-start: 0;
	margin-block-end: 0;
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

.main__services-tabs::before {
	display: block;
	content: "";
	width: 24px;
	height: 40px;
	z-index: 2;
	position: fixed;
	left: 0px;
	
	transform: rotate(180deg);
	background-image: linear-gradient(270deg, #f8f8f8 18%, rgba(248,248,248,0.0001) 100%);
}

.main__services-tabs::after {
	display: block;
	content: "";
	width: 24px;
	height: 40px;
	z-index: 2;
	position: fixed;
	
	right: 0px;
	background-image: linear-gradient(270deg, #f8f8f8 18%, rgba(248,248,248,0.0001) 100%);
}

.main__services-tabs::-webkit-scrollbar {
	width: 0;
}

.services-tabs__item {
	margin: 0;
	display: inline-block;
	cursor: pointer;
	padding: 6.49px 16px;	
	color: #7E7E82;
	
	
	white-space: nowrap;
	border-radius: 6px;
	border: 2px solid #fff;
	background-color: #fff;
	font-size: 16px;
	line-height: 24px;
	font-family: "TT Lakes-Light";
	letter-spacing: -0.2px;
}

.services-tabs__item--active:hover {
	color: #1B1C21;
	border: 2px solid #B8FFEC;
	transition: all 0.4s;
}

.main__content {
	margin-top: 8px;
}

.main__text-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin: 0 16px;
}

.main__content-text {
	font-family: "TT Lakes-Regular";
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
	height: 90px;
	overflow: hidden;
	text-align: left;
}

.main__read-more {
	padding-block: 0;
	padding-inline: 0;
	border: none;
	background-color: #fff;
	display: flex;
	column-gap: 8px;
	
	
}
.read-more__icon {
	background: url("../img/icon.svg") no-repeat center;
	width: 24px;
	height: 24px;
	display: block;
}

.read-more__text {
	font-family: "TT Lakes-Medium";
	font-size: 16px;
	line-height: 24px !important;
	letter-spacing: -0.2px;
	
}


.main__content-image {
	margin-top: 16px;
}


.main__image {
	width: 100%;
	height: 100%;
}





@media (min-width: 768px) {
	.header__popup-menu {
		display: flex;
		column-gap: 16px;
		margin-right: 20px;
	}

	.header__wrapper{
		padding: 0 24px;
	}

	.header__menu-burger {
		display: flex;
		margin-right: 22px;
	}

	.header__menu-burger::after {
		content: "";
		width: 2px;
		height: 32px;
		border-radius: 1px;
		position: relative;
		left: 20px;
		top: 5px;
		background-color: #EAEAEA
		}
	.header__logo {
		margin-left: 20px;
		margin-right: 0;
	}	

	.main__tittle-text {
		padding-left: 24px;
	}

	.main__services-tabs {
		margin-top: 32px;
		padding-left: 24px;
	}



	.main__content {
		display: flex;
		column-gap: 48px;
		margin: 16px 24px 0 24px;
	}

	.main__text-wrapper {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		row-gap: 10px;
		
		flex: 0 1 50%;
		
	}

	.main__content-text {
		margin-left: 0;
		margin-right: 0;
		line-height: 20px;
		
		height: 160px;
	}
	
	.main__tittle-text::before {
		right: 24px;
	}

	.main__content-image {
		min-height: 208px;
		margin-top: 0;
		flex: 0 1 50%;
	}


	


	
}

@media (min-width: 1120px) {
	.header {
		display: none;
	}

	.main__wrapper {
		padding-top: 42px;
	}
	
	.main__tittle-text {
		padding-left: 33px;
	}
	.main__tittle-text::before {
		right: 32px;
		width: 3px;
		border-radius: 2px;
	}

	.main__tittle {
		display: flex;
		justify-content: space-between;
		
	}
	.main__helper {
		display: flex;
		margin-right: 31px;
	}
	.main__helper-item {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	.main__helper-item:first-child {
		margin-right: 32px;
	}
	.main__helper a {
		height: 40px;
	}
	
		
	
	.main__helper-text {
		font-family: "TT Lakes-Medium";
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		text-align: right;
		margin-right: 9px;
		vertical-align: middle;
		color: #1B1C21;
	}
	

	.repair-icon {
		margin-right: 0;
		margin-left: 0;
	}
	.main__services-tabs {
		margin-top: 8px;
		padding-left: 33px;
		padding-right: 24px;
	}
	.services-tabs__items {
		
		overflow-x: hidden;
		flex-wrap: wrap;
	}
	.main__services-tabs::after {
		display: none;
	}
	.main__services-tabs::before {
		display: none;
	}

	.main__content {
		column-gap: 36px;
		margin-right: 28px;
		margin-left: 35px;
	}

	.main__text-wrapper {
		row-gap: 14px;
	}
	
}